@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Site Structure
3.0 - Media
5.0 - Utility
	5.1 - Colors
	5.2 - Alignments
6.0 - Column Widths
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

#products h2, #callout, #products a, #subscribe a, #contact a, ul, nav li, blockquote a, form p, #contact form p {
	text-align: center;
}

nav a, footer nav a, #products a.product-button, #subscribe a, #contact a, .yellow-btn .black-btn, blockquote a {
	text-decoration: none;
}

h2, h3, .secondary-label, blockquote p:first-child  {
	text-transform: uppercase;
}

blockquote p:first-child, blockquote p:nth-child(2), blockquote a, #contact a:hover, #subscribe a:hover {
	color: #fff;
}

header nav a, nav a, #products a.product-button, #callout a, #callout a:hover, #products a, #products a:hover, #about a, #contact a, #subscribe a, footer nav a {
	color: #000;
}

.yellow-btn, nav a, #products a.product-button, #subscribe a, #contact a, input, form a, nav li, footer li, footer p, footer nav a, form p {
	display: inline-block;
}

blockquote, ul {
	padding: 0;
}

h1, blockquote, blockquote p:first-child, blockquote p:nth-child(2), #subscribe p {
	margin: 0;
}

/*--------------------------------------------------------------
1.1 - HEADINGS
-------------------------------------------------------------- */

h2 {
	font: 2rem 'Oswald', sans-serif;
}

h3 {
	font: 700 1.10rem 'Oswald', sans-serif;
}

/*--------------------------------------------------------------
1.2 - BODY COPY
-------------------------------------------------------------- */

p {
	font-family: "Courier", monospace;
}

.secondary-label {
	font: 300 1rem 'Oswald', sans-serif;
}

blockquote p:first-child {
	font: 400 3.35rem/4.1rem 'Oswald', sans-serif;
	letter-spacing: 1px;
}

blockquote p:nth-child(2) {
	font: 300 1rem 'Oswald', sans-serif;
}

span {
	font: 300 0.90rem 'Oswald', sans-serif;
	text-transform: lowercase;
}

#footnote {
	font-size: 1rem;
	font-style: italic;
}

#mission-statement {
	font: 700 1.35rem/1.25 'Courier', monospace;
}

footer p {
	font-size: 0.5rem;
}

/*--------------------------------------------------------------
1.3 - BUTTONS
-------------------------------------------------------------- */

nav a, footer nav a, #products a.product-button, #subscribe a, #contact a {
	font: 0.85rem "Courier", monospace;
	border: 1px solid #000;
	-moz-border-radius: 0.75rem;
	-ms-border-radius: 0.75rem;
	-o-border-radius: 0.75rem;
	-webkit-border-radius: 0.75rem;
	border-radius: 0.75rem;
	min-width: 100px;
	min-height: 22px;
	margin-top: 5px;
}

blockquote a {
	font: 300 1rem 'Oswald', sans-serif;
}

blockquote a:hover {
	color: #feebae;
}

#callout, #callout-link {
	font: 300 1.5rem 'Oswald', sans-serif;
	margin-top: 7rem;
}

#callout-link:hover {
	font: 700 1.5rem 'Oswald', sans-serif;
}

#callout a:hover, #about a:hover {
	font-weight: 700;
}

.yellow-btn {
	background: url(../img/btn.png) no-repeat center;
	background-position: 0 0;
	padding: 0 13px;
	min-width: 128px;
	min-height: 31px;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.yellow-btn:hover {
	background-position: 0 -31px;
}

.black-btn {
	background: url(../img/btn-bw.png) no-repeat center;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 0 0;
	display: inline-block;
	padding: 0 13px;
	min-width: 128px;
	min-height: 31px;
}

.black-btn:hover {
	background-position: 0 -31px;
}

.sprite li a {
	display: block;
	background-position: 0 0;
	height: 50px;
	width: 54px;
}

.sprite li:first-child a{
	background: url(../img/twitter-icon.png) no-repeat;
}

.sprite li:nth-child(2) a {
	background: url(../img/facebook-icon.png) no-repeat;
}

.sprite li:last-child a {
	background: url(../img/google-plus-icon.png) no-repeat;
}

.sprite li a:hover {
	background-position: 0 -49px;
}

/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */

label {
	display: none;
}

input {
	border: 1px solid #000;
	-moz-border-radius: 0.25rem;
	-ms-border-radius: 0.25rem;
	-o-border-radius: 0.25rem;
	-webkit-border-radius: 0.25rem;
	border-radius: 0.25rem;
	margin-bottom: 60px;
	padding: 12px 20px;
	width: 65%;
}

.bg-dark-yellow input {
	display: block;
}

:-moz-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

::-webkit-input-placeholder {
  color: #000;
  font: 300 1rem 'Oswald', sans-serif;
}

textarea {
  resize: none;
  border: 1px solid #000;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
  height: 150px;
  width: 100%;
  padding: 12px 20px;
}

/*--------------------------------------------------------------
1.5 - LISTS
-------------------------------------------------------------- */

ul {
	text-align: right;
	margin-top: 2rem;
}

/*--------------------------------------------------------------
2.0 - SITE STRUCTURE
-------------------------------------------------------------- */

*, *:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.row:after {
	content: ""; /* You have to this for any pseudo element before/after */
	display: table;
	clear: both;
}

[class*='col-'] { /* Targets any class that beings with col- */
	float: left;
	padding-right: 20px; /* Use pixels because we never want the gutter to change size */
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0;
}

.col-1-2, .col-1-3 {
	padding-right: 0;
}

.col-1-9 {
	margin-top: 1.75rem;
}

.col-1-4:last-child {
	padding-right: 20px;
}

.wrapper {
	width: 65%; /* Get your original percentage as close to 1024px as possible */
	margin: 0 auto;
}

.block-center {
	float: none;
	margin: 0 auto;
}

#hero .wrapper {
	width: 100%;
}

#contact, footer {
	padding: 3rem 0;
}

.bg-dark-yellow, .bg-light-yellow, #products, #subscribe, #our-location {
	padding: 5rem 0;
}

#flex {
	display: -mz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
}

#flex .col-1-2 {
	flex: 1;
}

/*--------------------------------------------------------------
3.0 - MEDIA
-------------------------------------------------------------- */

img {
	width: 100%;
}

#hero-img {
	background: url(../img/hero-img.svg) 50% 100%/100% no-repeat;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 15rem;
}

#map {
	height: 200px;
	margin-top: 35px;
	border: 1px solid #000;
}

footer img {
	width: inherit;
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*--------------------------------------------------------------
5.1 - COLORS
-------------------------------------------------------------- */

.bg-dark-yellow {
	background-color: #fecc2f;
}

.bg-light-yellow {
	background-color: #feebae;
}

/*--------------------------------------------------------------
5.2 - ALIGNMENTS
-------------------------------------------------------------- */

.f-right {
	float: right;
}

/*--------------------------------------------------------------
6.0 - COLUMN WIDTHS
-------------------------------------------------------------- */

/* ~~~ ONE COLUMN ~~~ */

.col-1-1 {
	width: 100%;
}

/* ~~~ TWO COLUMNS ~~~ */

.col-1-2 {
	width: 50%;
}

/* ~~~ THREE COLUMNS ~~~ */

.col-1-3 {
	width: 33.33%
}

.col-2-3 {
	width: 66.671%
}

/* ~~~ FOUR COLUMNS ~~~ */

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

/* ~~~ FIVE COLUMNS ~~~ */

.col-1-5 {
	width: 20%;
}

.col-4-5 {
	width: 80%;
}

/* ~~~ SIX COLUMNS ~~~ */

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.34%;
}

/* ~~~ SEVEN COLUMNS ~~~ */

.col-1-7 {
	width: 14.285%;
}

.col-6-7 {
	width: 85.715%;
}

/* ~~~ EIGHT COLUMNS ~~~ */

.col-1-8 {
	width: 12.5%;
}

.col-7-8 {
	width: 87.5%;
}

/* ~~~ NINE COLUMNS ~~~ */

.col-1-9 {
	width: 11.11%;
}

.col-8-9 {
	width: 88.89%;
}

/* ~~~ TEN COLUMNS ~~~ */

.col-1-10 {
	width: 10%;
}

.col-9-10 {
	width: 90%;
}


/* ~~~ ELEVEN COLUMNS ~~~ */

.col-1-11 {
	width: 9.09%;
}

.col-10-11 {
	width: 90.91%;
}

/* ~~~ TWELVE COLUMNS ~~~ */

.col-1-12 {
	width: 8.33%;
}

.col-11-12 {
	width: 91.67%;
}

/*-------------------------------------------------------------------------------------------------------------------------
1024px BREAK POINT
--------------------------------------------------------------------------------------------------------------------------- */


@media (min-width: 1024px) {
	
#navbar-default {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
}
	
}

/*-------------------------------------------------------------------------------------------------------------------------
480px BREAK POINT
--------------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 480px) {
	
/*--------------------------------------------------------------
1.1 - HEADINGS
-------------------------------------------------------------- */

h2 {
	font-size: 2.60rem;
	margin: 1rem;
}

 #about h2 {
	 line-height: 4rem;
 }
 
 h2, #about h2, #about p, #our-location p, ul, .col-1-8 {
	 text-align: center;
 }

/*--------------------------------------------------------------
1.2 - BODY COPY
-------------------------------------------------------------- */
	
blockquote p:first-child {
	font: 400 1.55rem/2.35rem 'Oswald', sans-serif;
	padding: 0.75rem;
	margin-bottom: 2rem;
}

blockquote p:nth-child(2) {
	font: 300 1rem 'Oswald', sans-serif;
}

#callout, #callout a {
	font-size: 1.85rem;
}

.secondary-label {
	font-size: 1.25rem;
}

#mission-statement {
	font-size: 1.17rem;
}

/*--------------------------------------------------------------
1.4 - FORMS
-------------------------------------------------------------- */

input {
  margin-bottom: 15px;
  width: 100%;
}

textarea {
  height: 150px;
  width: 100%;
  padding: 12px 20px;
}
	
/*--------------------------------------------------------------
2.1 - MAIN MENU
-------------------------------------------------------------- */

#fixed-nav {
	position: static;
	width: 100%;
}

#navbar-default {
	position: static;
}
	
/*--------------------------------------------------------------
3.1 - SITE STRUCTURE
-------------------------------------------------------------- */
	
.wrapper {
	width: 85%;
}

.col-1-2, .col-1-3, .col-2-3 {
	width: 100%;
}

.blend-details, .col-1-4, .col-1-6, .col-1-8  {
	width: 50%;
}

.col-1-5 {
	width: 20%;
	float: none;
}

.col-1-9 {
	width: 25%;
}

nav {
	float: none;
}

nav, .col-1-5, .col-1-8 {
	margin: 0 auto;
}

.col-1-5 img {
	display: inline-block;
	padding: 2rem 0;
}

.col-4-5 {
	width: 100%;
}

#hero-img {
	padding: 1rem 0 10rem;
}

.col-1-9 {
	float: none;
	margin: 1rem auto;
	text-align: center;
}

#products .row:nth-of-type(2) header:nth-of-type(2) p {
	margin: 0;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

img {
	max-width: 100%;
}

figure {
	display: none;
}

}